body{
margin:0px;
padding:0px;
}

ul{
  margin:0px;
  padding:0px;
  border:0px;
  list-style-type: none;
  height:20px

}
ul li{
  
 float:left;
 display:list-item;   
   

}
ul li a{
 
  color:#fff;
  font-family:Helvetica;
  transition:all 0.2s ease-in-out;
  background-color:#000;
  padding:12px;
  text-transform: uppercase;
  
}
ul li a:hover{
 
  color:#fff;
  font-family:arial;
  background-color:#219fbf;
  padding:12px 12px 30px 12px;
   
  
}
ul li a.active{
 padding:12px 12px 30px 12px; 
 background-color:#219fbf;
  
}
